#imagem1{
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
h1{
  text-align: center;
}

.historia{
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 5px;
}

.h3t{
  text-align: center;
  border: 2px solid rgb(60, 96, 164);
  background-color: rgb(60, 96, 164);
  border-radius: 1em;
}

.coroa{
  display: flex;
  margin: 3px;
  margin-top: 0px;
  border: 2px solid rgb(60, 96, 164);
  background-color: rgb(60, 96, 164);
  border-radius: 1em;
  font-size: 25px;
  padding: 4px;
}

.imgc {
  padding: 8px;
  border-radius: 1em;
}
